{% if articles %}
<h3>News from {{ country.name }}</h3>
<ul data-role="listview" data-theme="c" data-split-icon="remove" data-split-theme="d" >
  {% for article in articles %}
  <li id="feed-article-{{ article.id }}" title="{{ article.description|truncatewords:20}}">
    <a href="{{ article.url }}">
      <img class="uxi-li-icon" src="http://openiconlibrary.sourceforge.net/gallery2/open_icon_library-full/icons/png/128x128/actions/add-to-desktop.png"/>
      <h3>{{ article.title }}</h3>
      <p>{{ article.date }}</p>
      <a href="#" class="xxx" data-rel="dialog" data-transition="slideup">Remove</a>
    </a>
  </li>
    <!-- <div id="feed-article-{{ article.id }}" class="feed-article"> -->
    <!--     <div id="feed-article-title"> -->
    <!--       <div id="feed-article-title-link"> -->
    <!--         <a href="{{ article.url }}">{{ article.title }}</a> -->
    <!--       </div> -->
    <!--       <div id="feed-article-title-close" title="Remove Article" class="clickable"> -->
    <!--         <img src="images/close.png"/> -->
    <!--       </div> -->
    <!--     </div> -->
    <!--     <div id="feed-source"> -->
    <!--       <a href="{{ article.source.site_url }}">{{ article.source.name }}</a> -->
    <!--     </div> -->
    <!--     <div id="feed-article-description"> -->
    <!--       <p>{{ article.description|truncatewords:20}} <a href="">more</a></p> -->
    <!--     </div> -->

    <!--     <div id="feed-article-date">{{ article.date }}</div> -->
    <!-- </div> -->
  <!-- </li> -->
  {% endfor %}
</ul>
{% include "suggest.html" with country_id="{{ country.code }}" %}
{% else %}
<h3>No News from {{ country.name }}</h3>
{% include "suggest.html" with country_id="{{ country.code }}" %}
{% endif %}
