{% if articles %}
<h3>News from {{ country.name }}</h3>
<ul data-role="listview" data-theme="c" data-split-icon="remove" data-split-theme="d" >
  {% for article in articles %}
  <li id="feed-article-{{ article.id }}" title="{{ article.description|truncatewords:20}}">
    <a href="{{ article.url }}">
      {% if article.source.icon %}
      <img class="ui-li-icon" src="{{ article.source.icon }}"/>
      {% endif %}
      <h3>{{ article.title }}</h3>
      <p>{{ article.date }}</p>
      <a href="#" class="article-remove" data-rel="dialog" data-transition="slideup">Remove</a>
    </a>
  </li>
  {% endfor %}
</ul>
{% include "suggest.html" with country_id="{{ country.code }}" %}
{% else %}
<h3>No News from {{ country.name }}</h3>
{% include "suggest.html" with country_id="{{ country.code }}" %}
{% endif %}

