html,body {
    height: 98%;
    width: 98%;

}

p{
    font-family: Helvetica, sans-serif;
}

#map{
    height: 100%;
    width: 70%;
    float: right;
    border: #2d5d93 solid 1px;
}

#right{
    height: 100%;
    width: 29%;
    border: #2d5d93 solid 1px;
    float: left;

    /* -moz-border-radius: 5px; */
    /* border-radius: 5px; */
    /* border-top-left-radius: 5px; */
}

#right h2{
    float: left;
}

#country{
    position: absolute;
    z-index: 1000;
    border: solid 1px red;
    margin-top: 5px;
    margin-left: 5px;
    padding: 2px;
    /* -moz-border-radius: 5px; */
    /* border-radius: 5px; */
}

#loader{
    float: right;
}

div.olControlPanZoom{
    width: 50px;
    height: 130px;
    position: relative !important;
    float: right;
}

