html,body {
    height: 98%;
    width: 98%;
}

#header{
    /* border: solid red 1px; */
}

#feed{
    height: 100%;
    width: 33%;
    float: left;
    overflow: auto !important;
}

#feed .ui-li-heading, #feed .ui-li-desc{
    margin-left: 1.3em;
}

#main{
    height: 100%;
    width: 60%;
    float: right;
}

.hidden {
    display: none;
}

#map{
    height: 100%;
    width: 100%;
}

/* #container{ */
/*     display: none; */
/* } */

.info-text{
    color: green;
}

.error-text{
    color: red;
}

#footer{
    /* clear: both; */
    height: 2em;
    min-height: 10px;
    border: black solid 1px;
    width: 97%;
}


div.olControlPanZoom{
    display: none;
}

div.olControlPanZoomBar{
    width: 50px;
    height: 130px;
    position: relative !important;
    float: right;
}

body .ui-loader{
    z-index: 10000;
}

#sharethis{
    float: right;
}

#mask {
    position:absolute;
    z-index:9000;
    background-color:#000;
    display:none;
    color: white;
}

#boxes .window {
    position:absolute;
    width:440px;
    height:200px;
    display:none;
    z-index:9999;
    padding:20px;
}

#boxes #dialog {
    position:absolute;
    top: 100px;
    width:375px;
    height:203px;
    border: white solid 2px;
    /* margin: auto; */
}

