html,body {
    height: 98%;
    width: 98%;
}

#header{
    /* border: solid red 1px; */
}

#feed{
    height: 100%%;
    width: 33%;
    float: left;
    overflow: auto !important;
}

#main{ 
    height: 100%;
    width: 60%;
    float: right;
    /* border: solid red 1px; */
}

#map{ 
    height: 100%;
    width: 100%;
}

#footer{
    clear: both;
    height: 20px;
}

div.olControlPanZoom{
    display: none;
}

div.olControlPanZoomBar{
    width: 50px;
    height: 130px;
    position: relative !important;
    float: right;
}
