html,body {
    height: 98%;
    width: 98%;
    font-family: Arial, Verdana;
    font-size: 12px;
}

h3{
    font-size: 14px;
}

p{
    font-size: 12px;
}

#map{
    height: 100%;
    width: 70%;
    float: right;
    border: #2d5d93 solid 1px;
}

#feed-wrapper{
    height: 100%;
    width: 28.5%;
    border: #2d5d93 solid 1px;
    float: left;
}

#feed{
    height: 99%;
    width: 98.5%;
    /* border: #2d5d93 solid 1px; */
    float: left;

    /* -moz-border-radius: 5px; */
    /* border-radius: 5px; */
    /* border-top-left-radius: 5px; */

    /* max-height: 200px; */
    overflow: auto;
}

#feed{
    /* border: red solid 1px; */
}

#feed ul{
    /* border: red solid 1px; */
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

#feed li{
    border: red solid 1px;
    height: 120px;
}

#feed h3{
    /* float: left; */
    text-align: center;
}

#feed-source{
    /* float: left; */
    /* border: red solid 1px; */
    height: 100%;
    width: 25%;
    float: left;
}

#feed-details{
    /* border: blue solid 1px; */
    width: 70%;
    /* position: absolute; */
    float: right;
}

#article-date{
    font-size: 10px;
    /* float: right; */
}

#country{
    position: absolute;
    z-index: 1000;
    border: solid 1px red;
    margin-top: 5px;
    margin-left: 5px;
    padding: 2px;
    /* -moz-border-radius: 5px; */
    /* border-radius: 5px; */
}

#loader{
    float: right;
}

div.olControlPanZoom{
    display: none;
}

div.olControlPanZoomBar{
    width: 50px;
    height: 130px;
    position: relative !important;
    float: right;
}
